.fs-5 {
	font-size: 5rem;
	font-size: 5rem;
}

.fs-1_5 {
	font-size: 1.5rem;
}

.fs-1_2 {
	font-size: 1.2rem;
}

.fs-2_5 {
	font-size: 2.5rem;
}

.p-5 {
	padding: 5px;
}

.p-15 {
	padding: 15px;
}

.p-15-l {
	padding-left: 15px;
}

.p-15-r {
	padding-right: 15px;
}

.p-20 {
	padding: 20px;
}

.p-20-l {
	padding-left: 20px;
}

.p-20-r {
	padding-right: 20px;
}

.text-center {
	text-align: center;
}

.shadow {
	text-shadow: 0 0 10px #000;
}

.white {
	color: #fff;
}

.black {
	color: #000;
}

.c-pointer {
	cursor: pointer;
}

.pm {
	background-color: #a0c1ff;
}

.am {
	background-color: #c5fcbe;
}

.hidden {
	display: none;
}

.inactive {
	cursor: pointer;
	opacity: 30%;
	border-bottom: #000 3px solid;
}

.w-30 {
	width: 30%;
}

.w-50 {
	width: 50%;
}

.w-85 {
	width: 85%;
}

body {
	background-color: #353535;
	margin: 2px;
}

a:visited {
	color: #003eaa;
}

hr {
	border: 2px solid #000;
	border-radius: 4px;
}

input {
	background-color: #ddd;
	border: 1px solid #000;
	border-radius: 7px;
	padding: 5px;
}

input[type='button'] {
	border: 1px solid #000;
	border-radius: 7px;
	margin: 5px;
	padding: 5px;
	text-transform: capitalize;
}

input[type='submit'] {
	border-radius: 7px;
}

article {
	background-color: #fff;
	border-radius: 10px;
	margin: 0;
	padding: 30px;
	padding-top: 0;
}

article > p {
	margin: 0;
	padding-bottom: 1rem;
}

h1 {
	color: #fff;
	font-size: 5em;
	margin: 0;
	padding: 0;
	text-align: center;
}

h2 {
	color: #fff;
	font-size: 2em;
	margin: 0;
	padding: 0;
	text-align: center;
}

h3 {
	font-size: 2em;
	margin: 0;
	padding: 10px;
	text-align: center;
}

h4 {
	color: #fff;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
}

.title-bar {
	display: flex;
}

.bug-stat {
	padding-bottom: 1rem;
}

.empty {
	background-color: #fff;
	border-radius: 12px;
	min-height: 23px;
}

.container {
	margin: 0 auto;
	width: 90%;
}

.banner-container {
	display: flex;
	margin: 0 auto;
	width: 90%;
}

.instructions {
	background-color: #fff;
	border-radius: 50px;
	margin-right: 15px;
	text-align: center;
	width: 100%;
}

#overall_winner {
	border: 1px solid #000;
	border-radius: 7px;
}

.previous-container {
	margin: 0 auto;
	padding-bottom: 1rem;
	width: 90%;
}

.create-bracket {
	background-color: #fff;
	border-radius: 50px;
	margin-left: 15px;
	width: 100%;
}

.bracket {
	margin-top: 30px;
}

.bracket-divider {
	border: #000 1px solid;
}

.bracket-r {
	border-top-right-radius: 50px;
}
.bracket-l {
	border-top-left-radius: 50px;
}

.bracket-mod:hover {
	cursor: pointer;
	opacity: 50%;
}

.grid {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(15, 1fr);
	margin: auto;
	padding: 50px;
}

.grid-item {
	align-items: center;
	margin: 5px;
	text-align: center;
	text-transform: uppercase;
}

.grid-item-button {
	background-color: #adadad;
	border: #7c7c7c 2px solid;
	border-radius: 12px;
	cursor: pointer;
	margin: 5px;
	text-align: center;
	text-transform: uppercase;
}

.info {
	background-color: #fff;
	border-radius: 50px;
	border: 2px solid #7e7e7e;
	margin: 0 auto;
	width: 90%;
}

.info-container {
	display: flex;
}

.bugs {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	margin: auto;
	width: 90%;
}

.incomplete {
	background-color: red;
	min-height: 23px;
}

.download {
	margin: 7em auto;
}

.nav {
	width: 70px;
	height: 70px;
	margin: 0;
	overflow: hidden;
	position: absolute;
}

.nav-link {
	background-color: orangered;
	height: 100px;
	left: -50px;
	position: absolute;
	top: -50px;
	width: 100px;

	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-label {
	color: #000;
	font-family: sans-serif;
	font-size: 1.005em;
	position: absolute;
	width: 80px;
}

.archive-label-pos {
	left: 19px;
	top: 80px;
}

.home-label-pos {
	left: 27px;
	top: 80px;
}

@media only screen and (max-width: 1000px) {
	.info-container > hr {
		display: none;
	}

	.container {
		font-size: 0.7em;
		width: 100%;
	}

	.grid-item {
		min-height: 1rem;
	}

	.create-bracket {
		display: block;
		margin: auto;
		width: 100%;
	}

	.create-bracket > form {
		display: block;
		padding: 10px;
	}

	.create-bracket > form > input {
		border-radius: 0;
		display: block;
		margin: 0 auto;
	}

	form > div {
		padding: 5px;
		text-align: center;
	}

	.banner-container {
		display: block;
		margin: 0 auto;
		width: 100%;
	}

	.instructions {
		margin: 0;
		margin-bottom: 30px;
		padding-bottom: 20px;
		width: auto;
	}

	.info-container {
		display: block;
	}

	.info-container > div {
		padding: 15px;
		width: 90%;
	}

	.info,
	.bugs {
		width: 100%;
	}
}

.b-left {
	border-left: 3px solid #000;
}

.b-right {
	border-right: 3px solid #000;
}

.b-top {
	border-top: 3px solid #000;
}

.b-bottom {
	border-bottom: 3px solid #000;
}

.col-1 {
	grid-column-start: 1;
}

.col-2 {
	grid-column-start: 2;
}

.col-3 {
	grid-column-start: 3;
}

.col-4 {
	grid-column-start: 4;
}

.col-5 {
	grid-column-start: 5;
}

.col-6 {
	grid-column-start: 6;
}

.col-7 {
	grid-column-start: 7;
}

.row-1 {
	grid-row-start: 1;
}

.row-2 {
	grid-row-start: 2;
}

.row-3 {
	grid-row-start: 3;
}

.row-4 {
	grid-row-start: 4;
}

.row-5 {
	grid-row-start: 5;
}

.row-6 {
	grid-row-start: 6;
}

.row-7 {
	grid-row-start: 7;
}

.row-8 {
	grid-row-start: 8;
}

.row-9 {
	grid-row-start: 9;
}

.row-10 {
	grid-row-start: 10;
}

.row-11 {
	grid-row-start: 11;
}

.row-12 {
	grid-row-start: 12;
}

.row-13 {
	grid-row-start: 13;
}

.row-14 {
	grid-row-start: 14;
}

.row-15 {
	grid-row-start: 15;
}
